<!DOCTYPE html>
<html lang="en" class="mac">
  <head>
  <meta charset="utf-8">
  <title>Changelog Notes for <% @project_name %></title>
  <meta name="description" content="Changelog Notes for <% @project_name %>">
  <meta name="author" content="Vicilog">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://desktop.github.com/stylesheets/main.css">
  <link rel="icon" sizes="any" mask href="http://i.imgur.com/mNEWxdD.png">
  <link rel="icon" type="image/x-icon" href="http://i.imgur.com/mNEWxdD.png">
  <script src="https://desktop.github.com/javascript/jquery.min.js" charset="utf-8"></script>
  <!--[if lte IE 8]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

  <body>
    <header>
  <div class="container">
    <div class="logo">
      <a href="/"><img src="http://i.imgur.com/qjqZjwo.png" alt="Vicilog" width="145" height="auto"></a>
    </div>
    <div class="nav">
      <ul class="nav">
  <li data-for-os="windows"><a href="#" class="current">Release Notes</a></li>
  <li data-for-os="mac"><a href="#" class="current">Release Notes</a></li>
</ul>

    </div>
  </div>
</header>

    <section class="release-notes">
  <h1>Release Notes</h1>
  <p class="switch">
    <% @project_name %>
  </p>
  <div id="release-notes" class="container">

  </div>
</section>
<script src="https://desktop.github.com/javascript/moments.js" charset="utf-8"></script>
<script src="rel.js" charset="utf-8"></script>

    <footer>
  <a href="https://github.com/dn5/vicilog">
    <span class="mega-octicon octicon-mark-github"></span>
  </a>
  <ul class="nav">
  <li><a href="https://github.com/dn5/vicilog">Vicilog</a></li>
</ul>

  <p class="copyright">© 2015 <% @project_name %>. All rights reserved.</p>
</footer>
  </body>
</html>
